* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x:hidden;
}

body {
  padding: 32px;
  box-sizing: border-box;
  background-color: #efefef;
}

.boxes{
  display: flex;
  list-style: none;
  font-size: 20px;
  margin-bottom: 20px;

  li {
    margin: 1rem;
    flex: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 140px;
  }

  .iconfont{
    font-size: 40px;
  }
}

.the-des{
  padding: 0 30px;

  > strong {
    font-size: 22px;
  }
}