{extend name="common/base"/}

{block name="title"}
  {css href="__CSS__/home-page.css" /}
  <title>主页</title>
{/block}

{block name="body"}
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="__ASSET__/pic1.jpg" class="d-block w-100" alt="...">
        <div class = 'ab-title'>
          <h1 >专业</h1>
          <h2>Professional</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="__ASSET__/pic2.jpg" class="d-block w-100" alt="...">
        <div class = 'ab-title'>
          <h1>协作</h1>
          <h2>Cooperation</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="__ASSET__/pic3.jpg" class="d-block w-100" alt="...">
        <div class = 'ab-title'>
          <h1>探索</h1>
          <h2>Explore</h2>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev-diy" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next-diy" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>  
  <h1 class = 'us-title'>关于我们</h1>
  <section class = 'about-us'>
    <article class = 'us-info'>
      <p>
        男人继续朝前走。他忽然看见前面有一个小男孩，走得很慢，而且不停地在每一个水洼旁弯下腰去―――他在捡起水洼里的小鱼，并且用力把它们扔回大海。这个男人停下来，注视着这个小男孩，看他拯救着小鱼们的生命。
        终于，这个男人忍不住走过去：“孩子，这水洼里有几百几千条小鱼，你救不过来的。”
        “我知道。”小男孩头也不抬地回答。
        “哦？那你为什么还在扔？谁在乎呢？”
        “这条小鱼在乎！”男孩儿一边回答，一边拾起一条鱼扔进大海。
        “这条在乎，这条也在乎！还有这一条，这一条，这一条……”
        天堂没有睡懒觉
        天低低地垂着，铅灰色的云像一块漫了过多水分的湿布挂在天空。
        我躺在病床上，身边的母亲两眼都哭肿了。我想为她拭去眼泪，可身体愣是不听使唤，一动也不动。这时，房门被打开，进来了几位护士。她们用力推开妈妈，将一块白布遮住我的面颊，然后一起把我抬走了。护士将我推到一个寂静的地方停了下来，门上的牌子写着：太平间。
      </p>
      <i class = 'flex-util'>.</i>
      <div class = 'show-pic'>
        {foreach $show_img as $key=>$vo}
          <div  style = "background-image: url({$vo.imgPath})"
           {if $key == 0} class = 'pic-item active-pic'
            {else /} class = 'pic-item'
           {/if}
          >
          </div>
        {/foreach}
      </div>
    </article>
    <article class = 'us-info'>
      <header class = 'info-header'>
        <h1>新闻</h1>
        <a href = "index.html">更多</a>
      </header>
      {foreach $show_news as $key=>$vo}
        <div class = 'info-content'>
          <h2>
            <a href = "{$vo.href}">{$vo.title}</a>
            <span>{$vo.date}</span>
          </h2>
          <p>{$vo.des}</p>
        </div>
      {/foreach}
      <i class = 'flex-util'>.</i>
    </article>
  </section>
  <div class = 'areas'>
    <h1 class = 'areas-title'>科研方向</h1>
  </div>
  <div class = 'team'>

  </div>
  <div class = 'achieve'>

  </div>
{/block}

{block name="footer"}
  {js href="__JS__/clamp.js"}
  {js href="__JS__/home-page.js"}
{/block}