<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="__CSS__/normalize.css">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" >
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="icon" type="image/png" href="__ASSET__/logo.png">
    {block name="title"}<title>网站标题</title>{/block}  
  </head>
  <body>
    <header class = 'container-fluid header-class'>
      <div class = 'row-div'>
        <div class = 'col-1 logo-div'>
          <img src = '__ASSET__/logo.png' class = 'img-fluid-diy'>
        </div>
        <div class = 'logo-name'>
          <span>这是实验室名称</span>
          <div class="w-100"></div>
          <span>THIS IS ENGLISH NAME</span>
        </div>
        <div class = 'col'></div>
        <nav>
          <a>关于我们</a>
          <a>科研方向</a>
          <a>团队</a>
          <a>成果</a>
          <a>资产管理</a>
        </nav>
        <button type="button" class = 'icon-btn'>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header> 
    {block name="body"}<div></div>{/block}

    <script src="__JS__/jquery-3.3.1.slim.min.js"></script>
    
    {block name="footer"}<footer></footer>{/block}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="__JS__/popper.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
  </body>
</html>
<!doctype html>
