@import './util';

@keyframes fadeIn{
  from{
    transform: translate3d(0, 100%, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 761px) { 
  .ab-title > h1{
    font-size: 25px;
  }

  .info-content > h2 > a {
    @include single-elipsis;
    max-width: 100%;
  }

  .info-header{
    margin-top: 50px !important;
  }

  .ab-title > h2 {
    font-size: 20px;
  }

  .us-info{
    max-width: 100% !important;
  }
  
  .about-us{
    padding: 0 20px 0 !important;
  }
}

.ab-title{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate3d(-50%,-50%, 0);
  font-weight: 200;
  letter-spacing: 15px;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  font-size: 45px;
  text-align: center;

  > h2{
    letter-spacing: 10px;
  }
}

.carousel-control-prev-diy{
  @extend %base-control;
  left: 0;
}

.carousel-control-next-diy{
  @extend %base-control;
  right: 0;
}

.about-us{
  padding: 0 100px 20px;
  display: flex;
  flex-wrap: wrap;
}

.us-title {
  width: 100%;
  max-height: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  color: $title-color;
  margin:60px 0 44px;

  &::after{
    content: '';
    display: block;
    position: relative;
    width: 36px;
    height: 5px;
    background-color: $background-color;
    margin: 10px auto 0;
  }
}

.us-info{
  visibility: hidden;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
  > p{
    text-indent: $normal-font-size * 2;
    font-size: $normal-font-size;
    line-height: 40px;
    letter-spacing: 2px;
    @include justify-par;
  }
}

@for $i from 1 to 30 {
  .wekit-clamp-native-#{$i} {
    @extend %base-wekit-clamp;
    -webkit-line-clamp: #{$i}
  }
}

.flex-util{
  width: 700px;
  height: 1px;
  display: block;
}

.show-pic{
  position:relative;
  width: 100%;
  padding-bottom: 50%;
  height: 0;
}

.pic-item {
  // width: 100%;
  // padding-bottom: 50%;
  // height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  border-image-repeat: stretch;
  transition: opacity 0.6s linear;
  opacity: 0;
}

.active-pic{
  opacity: 1;
}

.info-header{
  margin-top: 10px;
  border-top: 3px solid #999999;
  flex: 0 0 100%;
  overflow: hidden;

  > h1 {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    margin-top: 10px;
  }

  >a {
    display: block;
    float: right;
    margin-top: 8px;
  }
}

.info-content{
  margin-top: 33px;
  overflow:hidden;

  > h2 {
    font-size: 12px;
    font-weight: normal;
    
    &:hover{
      & > a ,
      & > span{
        color:$title-color !important;
        background-position: 0 100%;
      }
    }

    >span {
      font-size: 14px;
      color: #8d8d8d;
      padding-left: 20px;
      background: url(../asset/info_news_time.png) no-repeat;
      background-position: 0 0;
      height: 16px;
      display: inline-block;
      transition: background-position .5s linear;
    }

    > a {
      text-decoration: none;
      font-size: 16px;
      color: #222222;
      display: inline-block;
      line-height: 25px;
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

.info-content > p{
  font-size: 14px;
  color: #111111;
  line-height: 28px;
  margin-top: 10px;
}

@for $i from 0 through 1 {
  .show-info-ani-#{$i}{
    visibility: visible !important;
    @if $i == 0 {
      animation: fadeIn 1s;
    }
    @else{
      animation: fadeIn 0.6s;
    }
  }
}

.areas{
  @extend .about-us;
  background-color: $title-color;
  height: 1000px;
}

.areas-title{
  @extend .us-title;
  color: #fff;
}