<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="/img/logo.png">
  <link rel="stylesheet" href="/css/backend.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/iconfont.css">
  <title>管理</title>
</head>
<body>
  <header class = 'nav-header'>
    <div id = 'iconTitle'>
      <img src = '/img/logo.png'>
      <h1>实验室名称</h1>
    </div>
    <div style = 'flex: 1;'></div>
    <nav class = 'nav-top'>
      <i class = 'iconfont iconjingzhong'></i>
      <i class = 'iconfont iconicon--'></i>
      <div id = 'loginStatus'>
        <img id = 'portrait'>
        <span>{{ username }}</span>
        <a class = 'iconfont iconxiajiantou'></a>
        <ul class = 'downbar hid'>
          <li id = 'downbar-title'>
            用户
          </li>
          <li id = 'exit-to'>
            <i class = 'iconfont iconshuzi0'></i>
            <span>退出</span>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class = 'main-part'>
    <div class = 'side-bar'>
      <h1>导航</h1>
      <ul>
        <li id = 'firstPage' class = 'activePage'>
          <i class = 'iconfont iconshuzi0'></i>
          <span>页1</span>
          <i class = 'iconjiantouzuo iconfont'></i>
        </li>
        <li id = 'secondPage'>
          <i class = 'iconfont iconshuzi1'></i>
          <span>页1</span>
          <i class = 'iconjiantouzuo iconfont'></i>
        </li>
        <li id = 'thirdPage'>
          <i class = 'iconfont iconshuzi2'></i>
          <span>页1</span>
          <i class = 'iconjiantouzuo iconfont'></i>
        </li>
      </ul>
    </div>
    <div class = 'main-iframes'>
      <iframe src = '/iframes/first.html' height = 100% width = 100% frameborder = 0
       sandbox = 'allow-forms allow-same-origin allow-scripts' scrlling = 'auto'
      ></iframe>
    </div>
  </div>
  <script data-main="script/backend/main.js" src="script/lib/require.js"></script>
</body>
</html>
<!DOCTYPE html>