<script data-main="/script/homePage/main.js" src="/script/lib/require.js" defer async='true'></script>

</body>

</html>
<!doctype html>
<footer class="area-footer">
  <div class="container">
    <p>实验室实验室</p>
    <a href="#top" class="return-top">
      <i class="iconfont" id="footer-icon">&#xeb94;</i>
      <p>返回顶部</p>
    </a>
  </div>
</footer>