<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/home-page.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1161052_5mk8bs5u0py.css">
  <link rel="icon" type="image/png" href="/img/logo.png">
  <title>{{title}}</title>
</head>

<body>
  <header class='container-fluid-d header-class'>
    <div class='row-div'>
      <span id='moveLine'></span>
      <div class='col-1 logo-div'>
        <img src='/img/logo.png' class='img-fluid-diy'>
      </div>
      <div class='logo-name'>
        <span>这是实验室名称</span>
        <div class="w-100"></div>
        <span>THIS IS ENGLISH NAME</span>
      </div>
      <div class='col'></div>
      <nav>
        <a>关于我们</a>
        <a>科研方向</a>
        <a>团队</a>
        <a>成果</a>
        <a id='loginIcon'>资产管理</a>
      </nav>
      <button type="button" class='icon-btn'>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </header>